@model RentACar.Web.ViewModels.Vehicle.VehicleDetailsViewModel

@{ 
    var images = Model.Images.Select(x => new SelectListItem(x.URL, x.Id.ToString()));
}


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:400px;float:left;">
    <div class="carousel-inner">
        @foreach (var pic in @Model.Images)
        {
            <div class="carousel-item" id="@pic.Id">
                <img class="d-block w-100" src="@pic.URL" id="@pic.Id" style="width:400px;">
            </div>
        }
    </div>
</div>
