@model RentACar.Web.ViewModels.Offer.AllOffersPerUserViewModel

@{
    this.ViewData["Title"] = "All offers";
}

@*@foreach (var offer in Model.Offers)
{
    <div class="container-fluid">
        <div>
            <label>Purchase ID</label>
        </div>
        <div>
            <label>Date of purchase</label>
        </div>
        <div>
            <label>Rental period</label>
        </div>
        <div>
            <label>Price</label>
        </div>
        <div>
            <label>Car details</label>
        </div>
    </div>
}*@

<div class="container-fluid">
    <div>
        <label>Purchase ID</label>
    </div>
    <div>
        <label>Date of purchase</label>
    </div>
    <div>
        <label>Rental period</label>
    </div>
    <div>
        <label>Price</label>
    </div>
    <div>
        <label>Car details</label>
    </div>
</div>
