


<div class="container-md" style="display: inline-grid;margin: auto;float: left;width: 150px;">
    <a asp-controller="Offer" asp-action="AllOffersPerUser">My Purchases</a>
    <a>My Vehicles</a>
    <a href="#">My Facilities</a>
</div>
