@using RentACar.Data.Models;

@model RentACar.Web.ViewModels.Facility.AddNewFacilityViewModel

@{
    this.ViewData["Title"] = "Add facility";
    //var cities = Model.Cities.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form method="post"
      enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col">
            <label asp-for="CityName"></label>
            <select asp-for="CityName" class="form-control" asp-items="@Html.GetEnumSelectList<Cities>()"></select>
            <span asp-validation-for="CityName" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <label asp-for="Contacts"></label>
            <input asp-for="Contacts" class="form-control" />
            <span asp-validation-for="Contacts" class="text-danger"></span>
        </div>

        <div class="col justify-content-xl-center" style="margin-top:40px">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
</form>
