@model RentACar.Web.ViewModels.City.AddCityViewModel

@{
    this.ViewData["Title"] = "Add city";
}

<form method="post"
      enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col justify-content-xl-center" style="margin-top:40px">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
</form>
