@model RentACar.Web.ViewModels.City.AllCitiesViewModel

@{
    this.ViewData["Title"] = "All cities";
}

<div class="container">
    @foreach (var city in Model.Cities)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@city.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Facilities count: @city.FacilitiesCount</h6>
                <a href="Details/@city.Id" class="card-link">List all facilities</a>
            </div>
        </div>
    }
</div>
